.get-mails-container
    display: flex
    flex-direction: column
    max-width: 500px
    margin: 0 auto
    >*
        margin: 5px
    .small-or
        font-size: 10px
        text-align: center
    button
        flex-grow: 1
        padding: 10px
        background: rgb(79, 140, 201)
        color: white
        border-radius: 5px
    .get-mails-form
        border: 1px solid black
        border-radius: 5px
        padding: 10px
        display: flex
        flex-direction: column
        .error
            background: rgba(200,11,11,0.7)
            color: white
            padding: 5px
            margin: 5px
            border-radius: 5px
        .input-button-group
            display: flex
            >*
                flex-grow: 1
            >button
                margin-left: 5px
        .form-group
            display: flex
            flex-direction: column
            padding: 5px
            label
                font-size: 14px
                margin-bottom: 5px
            input
                border-radius: 5px
                padding: 10px
        >button
            margin: 5px
