.mailbox
    display: flex
    border: 1px solid black
    flex-direction: column
    margin: 5px auto
    border-radius: 5px
    padding: 5px
    max-width: 1200px
    min-height: 100vh
    .filters
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        .filter-group
            display: flex
            flex-direction: column
            min-width: 400px
            flex-grow: 1
            flex-basis: 0
            margin: 10px
            .filter-label
                padding: 3px
                font-size: 13px
            > input
                border-radius: 5px
                padding: 10px
